<ion-header-bar class="bar-light bar-subheader">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="searchQuery">
      <button ng-if="searchQuery.length" class="button button-icon ion-android-close input-button" ng-click="clearSearch()">
  </button>
  </label>
  <button class="button button-clear" ng-click="search()">Search</button>
</ion-header-bar>




<ion-view view-title="Results">
  <ion-content>


    <ion-list>
      <ion-item class="item-avatar" ng-repeat="result in searchResults" type="item-text-wrap">
        <h2> {{result.title}} </h2>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
            ng-if="canLoadMore()"
            on-infinite="search()" 
            distance="5%">
        </ion-infinite-scroll>  
    
    <!--<div class="list">
      <ion-item class="item-icon-right" ng-repeat="result in searchResults" type="item-text-wrap">
        {{result.name}}
      </ion-item>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>-->
  </ion-content>
</ion-view>
