<ion-view view-title="Login" name="login-view">
  <ion-content>
      <form ng-submit="login()" class="list padding">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Login" ng-model="data.username">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="text" placeholder="Password" ng-model="data.password">
        </label>
        <button class="button button-block button-calm" type="submit">Login</button>
      </form>
     
  </ion-content>
</ion-view>

