<ion-view view-title="Login" name="login-view">
  <ion-content>
      <div class="streem-logo">S</div>
      <form ng-submit="login()" class="list list-inset padding">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="data.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
        <button class="button button-block button-stable" type="submit">Login</button>
      </form>
     
  </ion-content>
</ion-view>

